@import 'button.scss';
@import 'grid.scss';
@import 'variables.scss';
@import 'alignment.scss';
@import 'mixin.scss';
@import 'defaultCustomise.scss';

div{
    margin-top: 15px;
}

body{
    margin-left: 32px;
    margin-right: 40px;
    background-color: $white-button-color;
}

/* added h1 & h3 properties */
.h1h3{
    h1{
        h3{
            text-shadow: 2px 2px 5px $black-color;
        }
    }
}
// h6 and a element properties
a{
    text-decoration: none;
    color: $black-color;
}

h6{
    color: $h6-color;
}