
//color Variables
$blue-button-color: #0054a6;
$green-button-color: #00a88f;
$white-button-color: white;
$color-bg: green;
$foot-00a88f-bg-color:#00a88f;
$foot-028d78-color:#028d78;
$black-color: black;
$whitesmoke-color:whitesmoke;;
$aliceblue-color: aliceblue;
$whitegraymix-f4f7fa-color:#f4f7fa;
$gray-color:gray;
$whitegraydarl-color:#cccccc;
$h6-color:rgb(165, 163, 161);

// Alignment Variables
$left-align: left;
$right-align: right;
$center-align: center;
$relative-position: relative;
$absolute-position: absolute;


// Grid View Variables
$scroll-grid-column: (2,3,4);
$scroll-grid-row:(1,1,1);